<html>
  <head>
    <link rel="icon" type="image/png" href="/serengeticon.png" /> <%# 파비콘 설정 %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'chat', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtZeWmQ7w9Wx4pY_6skY932Hte3XlySls"></script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
  </head>
  <body>
  <!-- Flash -->
  <% if flash[:alert] %>
    <h1><%=flash[:alert]%></h1>
  <% end %>
  <section>
    <div class="row chat-window" id="chat_window_1" style="padding:0px; height:100%; position: relative;">
      <div class="col-xs-12 col-md-12" style="padding:0px;">
        <div class="panel panel-default">
          <!-- 채팅제목BAR START -->
          <div class="panel-heading top-bar">
            <div class="col-md-8 col-xs-8">
              <h3 class="panel-title" style="color:white;">
                <i class="fa fa-weixin" style="color:#f39800;"></i><%=@channel.title%>
              </h3>
            </div>
            <div class="col-md-4 col-xs-4" style="text-align: right;">
              <a href="#"><i id="minim_chat_window" class="fa fa-minus" style="color:white;"></i></a>
              <a href="#" style="padding-left:10px;"><i class="fa fa-times" data-id="chat_window_1" style="color:white;"></i></a>
              <!-- destroy_chat -->
              <% if current_user.id == @channel.user_id %>
                <a href="/home/destroy_chat/<%=@channel.id%>">방 폭파</a>
              <% end %>  
            </div>    
          </div>
          <!-- 채팅제목BAR END -->
          <!-- msg_container_base for javascript messages to stack -->
          <div class="panel-body msg_container_base" id="msg_container_base">

          </div>
          <!-- msg_container END -->
          <!-- 채팅입력창 START -->
          <div class="panel-footer">
            <div class="input-group">
            <input  type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." id="btn-input" />
            <span class="input-group-btn">
             <input type="submit" class="btn btn-likelion btn-sm" id="btn-chat" value="전송!!"></input>
            </span>
            </div>
          </div>
          <!-- 채팅입력창 END -->
        </div>
      </div>
    </div>
  </section>
  <!-- WebSocket Javascript -->
  <script type="text/javascript">
    <% if flash[:closed] %> window.close(); <% end %>
    var dispatcher = new WebSocketRails('<%= @url %>' + '/websocket');
    var username =  '<%= current_user.username %>';
    var channel_id = '<%=@channel.id%>';
    var univ = "<%=current_user.univ%>";
  </script>
  <%= javascript_include_tag 'chat' %>
  </body>
</html>