<div class="container-fluid">
  <div class="mbody">
    <div class="allchat_div" style="margin:0 auto; width:25%; float:left;">
      <!--current_user.count-->
      <div>  
      </div>
      
      <!--chat content-->
      <div class="allchat" id="allchat_content">
        <div class="row chat-window" id="chat_window_1" style="margin:10px; height:100%; position: relative;">
          <div class="col-xs-12 col-md-12" style="padding:0px; height:100%">
            <div class="panel panel-default" style="height:100%">
              <!-- 채팅제목BAR START -->
              <div class="panel-heading top-bar">
                <div class="col-md-8 col-xs-8">
                  <h3 class="panel-title" style="color:white;">
                    <i class="fa fa-weixin" style="color:#f39800;"></i>전체채팅
                  </h3>
                </div>
                <div class="col-md-4 col-xs-4" style="text-align: right;">
                  <a href="#"><i id="minim_chat_window" class="fa fa-minus" style="color:white;"></i></a>
                  <a href="#" style="padding-left:10px;"><i class="fa fa-times" data-id="chat_window_1" style="color:white;"></i></a>
                </div>    
              </div>
              <!-- 채팅제목BAR END -->
              <!-- msg_container_base for javascript messages to stack -->
              <div class="panel-body msg_container_base" id="msg_container_base" style="height:558px">

              </div>
              <!-- msg_container END -->
              <!-- 채팅입력창 START -->
              <div class="panel-footer">
                <div class="input-group">
                <input  type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." id="btn-input" />
                <span class="input-group-btn">
                 <input type="submit" class="btn btn-likelion btn-sm" id="btn-chat" value="전송"></input>
                </span>
                </div>
              </div>
              <!-- 채팅입력창 END -->
            </div>
          </div>
        </div>
      </div>
    </div>
       
    <div class="google_map_api" style="margin:0 auto; width:75%; display:inline;">
      <div style="width: 100%; height: 100%;">
           <div id="map" style="height: 660px;"></div>
      </div>       
    </div>
  </div>
</div> <!-- /container -->

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag '/home/create_chat' do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">새로운 채팅방 만들기</h4>
      </div>
      <div class="modal-body">
        방 제목 : <input type="text" name="title"> <br>
        <input type="hidden" id="lat_input" name="lat" value="37"><br>
        <input type="hidden" id="lng_input" name="lng" value="132"><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <input type="submit" class="btn btn-primary" value="방 만들기!">
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- WebSocket Javascript -->
<script type="text/javascript">
  var dispatcher = new WebSocketRails('<%= @url %>' + '/websocket');
  var username =  '<%= current_user ? current_user.username : "손님" %>';
  var channel_id = '1';
  var univ = '<%= current_user ? current_user.univ : "" %>';
</script>
<%= javascript_include_tag 'chat' %>

<!-- Google Maps API -->
<script type="text/javascript">
function initialize() {
  var mapOptions = {
    center: { lat: 37, lng: 132},
    zoom: 8
  };
  var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);
    
  <% @channels.each do |c| %>
    var pos = new google.maps.LatLng(<%= c.lat ? c.lat : "37" %>, 
                                    <%= c.lng ? c.lng : "132" %>);
    var cityCircle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: {
        lat: <%= c.lat ? c.lat : "37" %>,
        lng: <%= c.lng ? c.lng : "132" %>
      },
      radius: Math.sqrt(60) * 100
    });
    <!--
    var marker = new google.maps.Marker({
        position: pos,
        //label: <%=c.title%>
    });
    -->
    var marker = new MarkerWithLabel({
        position: pos,
        // icon: mapStyles.uavSymbolBlack,
        labelContent: "<h3><%=c.title%> (<%=c.user.username%>)<h3>",
        labelAnchor: new google.maps.Point(95, 20),
        labelClass: "markerlabels",
        labelStyle: {
            opacity: 1
        },
        zIndex: 999999,
        map: map
    })
    
    marker.setMap(map);
    google.maps.event.addListener(marker, 'click', function(e) {
       window.open('/chat/<%=c.id%>', '_blank', 'width=400, height=400, toolbar=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no');
       return false;
    });
  <% end %>
  google.maps.event.addListener(map, 'click', function(e) {
   var lat = e.latLng.lat();
   var lng = e.latLng.lng();
   
   $('#lat_input').val(lat);
   $('#lng_input').val(lng);
   
   $('.modal').modal();
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>