<div class="col-md-4">&nbsp</div>


<div class="col-md-4 signup_div">
<h1 style="color:#F7941E;"><strong>Log in</strong></h1>

    <div class = "login-description">
      <center>* 클래스 라이언 아이디와 비밀번호로 로그인하세요 * </center>
    </div>
    
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style="margin-top: 10px;">
    <%= f.label :email %> </br>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="margin-top: 10px;">
    <%= f.label :password %> </br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" style="margin-top: 10px;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions" style="margin-top: 10px; margin-bottom: 10px;">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

<style>
.signup_div {
  border: 2px solid;
  text-align: center;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 200px;
  border-radius: 16px;
}

.login-description{
  margin-top: 50px;
  font-size :13px;
  color:#fa2537;
  font-weight: bold;
}
</style>